.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  z-index: 9999;
}

.header__menu {
  display: none;
}
/* Original */
/* .header__bars {
  color: var(--clr-light);
  width: var(--size-2xl);
  height: var(--size-2xl);
  display: block;
} */

/* Edited */
.header__bars {
  color: var(--clr-light);
  width: var(--size-3xl);
  height: var(--size-3xl);
  display: block;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /* border: 3px solid var(--clr-gold); */
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}
.menu-btn__burger {
  width: 16px;
  height: 3px;
  background: var(--clr-gold);
  border-radius: 5px;
  /* box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2); */
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 3px;
  background: var(--clr-gold);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-6px);
}

.menu-btn__burger::after {
  transform: translateY(6px);
}

/* Anime */

.header__bars.open .menu-btn__burger {
  transform: translateX(-16px);
  background: transparent;
}

.header__bars.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(11px, -11px);
}
.header__bars.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(11px, 11px);
}

/*  */
/* Sun-Moon anime */
/*  */

label {
  /* width: 80px;
  height: 80px; */
  /* background: red; */
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  position: absolute;
  opacity: 0;
}

.sun {
  /* width: var(--size-sm);
  height: var(--size-sm); */
  position: absolute;
  font-size: 3em;
  /* color: #777777; */
  color: var(--clr-gold);
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
  transform: scale(0);
  transition: 1s ease;
}
input:checked ~ .sun {
  transition-delay: 0.8s;
  transform: scale(1) rotate(360deg);
}

.moon {
  /* font-size: 3em; */
  width: var(--size-sm);
  height: var(--size-sm);
  color: #777;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
  transition: 1s ease;
  transition-delay: 0.8s;
}
input:checked ~ .moon {
  transition-delay: 0s;
  transform: rotate(360deg) scale(0);
}
/* .toggle {
  position: absolute;
  display: block;
  width: 80px;
  height: 80px;
  width: var(--size-sm);
  height: var(--size-sm);
  background: #272727;
  border-radius: 50%;
  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
  z-index: -1;
  transition: 1s;
} */
input:checked ~ .toggle {
  background: #f8f8f8;
}

/* xs */
/*@media (min-width: 475px) {
}
/* sm */
/*@media (min-width: 630px) {
}

/* md */
@media (min-width: 768px) {
  .header__menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 2em;
  }

  .header__link {
    font-size: var(--size-xs);
    text-decoration: none;
    font-weight: 600;
    color: var(--clr-slate600);
    letter-spacing: -0.05em;
    transition: color 0.3s;
  }

  .header__link:hover {
    color: var(--clr-gold);
  }

  .header__line {
    border: 1px solid var(--clr-slate600);
    padding-top: 1.5em;
  }

  .header__sun {
    display: block;
    /* color: var(--clr-slate600); */
    color: var(--clr-gold1);
    width: var(--size-base);
    height: var(--size-base);
  }

  .header__moon {
    display: block;
    color: var(--clr-slate600);
    width: var(--size-base);
    height: var(--size-base);
  }

  .header__resume {
    font-size: var(--size-xs);
  }
  .header__bars {
    display: none;
  }
}

/* lg */
@media (min-width: 1024px) {
  .header__link {
    font-size: var(--size-sm);
  }

  .header__sun {
    width: var(--size-xl);
    height: var(--size-xl);
  }

  .header__moon {
    width: var(--size-xl);
    height: var(--size-xl);
  }

  .header__resume {
    font-size: var(--size-sm);
  }
}
/* xl */
/*@media (min-width: 1280px) {
}
/* 2xl */
/*@media (min-width: 1536px) {
}*/
